<style type="text/css">
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
        background-color: #fff;
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        padding: 0 10px
    }

    h1, h2, h3 {
        line-height: 1.2;
        border-bottom: 1px solid #ECECEC;
        padding-top: 1ex;

    }

    blockquote {
        font-style: italic;
    }
</style>

<script src="https://ialbert.github.io/pyblue-central/static/prism.js"></script>
<link rel="stylesheet" type="text/css" href="https://ialbert.github.io/pyblue-central/static/prism.css">
